#maze_dashboard {
  background-image: url("../../../../assets/images/bg1.png"),
    url("../../../../assets/images/bg1.png");
  background-color: #fff;
  background-repeat: repeat-x, repeat-x;
  background-position: center bottom, 0% -10%;
  background-size: 600px, 400px;

  .card-tile-container {
    display: table;
    .card-tile {
      display: table-cell;
      .icon-block {
        padding: 10px 20px 20px 20px;
        background-color: #ffffffd4;
        border-radius: 18px;
      }
    }
  }

  .img-wrapper {
    display: none;
    img {
      height: 300px;
      width: auto;
    }
  }
}
